apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - image: gcr.io/zinc-citron-477313-q7/voting-app/vote:24
        name: vote
        ports:
        - containerPort: 80
          name: vote
